<div class="titlePage" style="display: flex; align-items: center; justify-content: space-between; padding-right: 20px">
  <h1>Productos</h1>
  <a href="/home/carts/65164a5117540583371aebf8">Ver carrito</a>
</div>
<div class="productsContainer">
  {{#each payload}}
    <div class="productCard">
      <div class="productTitle">Nombre: {{this.title}}</div>
      <div class="productDescription">Descripcion: {{this.description}}</div>
      <div class="productPrice">Precio: ${{this.price}}</div>
      <div class="productCategory">Categoria: {{this.category}}</div>
      <button class="productButton" type="button" onclick={addToCart("{{this._id}}")}>Agregar al carrito</button>
      <br />
      <br />
    </div>
  {{/each}}
</div>

<div class="productsPaginate">
  <a href="{{prevLink}}" class="paginateLeftArrow">←</a>
  <div class="paginateIndexContainer">
    {{resPage}}
  </div>
  <a href="{{nextLink}}" class="paginateRightArrow">→</a>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../public/js/products.js"></script>